header {
    border-bottom: 1px solid #bebcdc;
    padding: 5px;
    background-color: #ffffff;
}

main {
    padding: 10px;
} 

.color-primary {
    color: #2e50e7;
}

.color-secundary {
    color: #010205;
}

.button-login {
    border-radius: 10px;
    background-color: #ffd922;
    color: #070606;
    width: 50%;
    margin: 0 25%;
}

.btn-outline-secondary {
    border-radius: 10px;
    background-color: #ffd922;
    color: #070606;
}

.button-default {
    border-radius: 10px;
    background-color: #0ccbff;
    color: #ffffff;
}

.button-cancel {
    border-radius: 10px;
}

input#button-salvar {
    background-color: #ffd922;
    color: #070606;
}

input#input-descricao, input#input-detalhamento {
    padding: 2px;
    width: 80vh;
}

.button-float {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    position: fixed;
    padding: 0 !important;
    bottom: 1rem;
    right: 2rem;
    font-size: 35px;
    border: 2px solid  #0ccbff;
    background-color:  #0ccbff;
    color: #ffffff;

}


.button-float:hover {
    border: 2px solid #010205;
    background-color: #ffffff;
}

.button-login:hover, .button-default:hover, .btn-outline-secondary:hover, input#button-salvar:hover{
    background: #010205;
    color: #ffffff;
}

.link-default {
    color: #0ccbff;
    cursor: pointer;
}

.link-default:hover {
    color: #010205;
}


.info {
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 0px 0px 0px;
}

.logout {
    min-width: 5rem !important;
}

.menu {
    margin-right: 20px;
}

